# With help from https://zed0.co.uk/clang-format-configurator/ 
# and https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: WebKit
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ColumnLimit: 100
FixNamespaceComments: true
Language: Cpp
MaxEmptyLinesToKeep: 1
Standard: Auto